<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Final Exam Django</title>
    </head>
    <body>
        <h1>Import CSV File</h1>
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="myfile">
                <button type="submit">Upload</button>
            </form>
        </div>
    </body>
</html>